<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h1>{{ movie.title }}</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ movie.image }}" alt="{{ movie.title }}" class="img-fluid mb-4">
                    <p><strong>Director:</strong> {{ movie.director }}</p>
                    <ul class="list-unstyled">
                        <li><strong>Stars:</strong></li>
                        {{#each movie.stars}}
                            <li> &#8226; {{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-md-6">
                    <p><strong>Description:</strong> {{ movie.description }}</p>
                    <ul class="list-inline">
                        <li><strong>Showtimes:</strong></li>
                        {{#each movie.showtimes}}
                            <li class="list-inline-item">{{this}}</li>|
                        {{/each}}
                    </ul>
                </div>
            </div>
            <a href="/movies/movies" class="btn btn-primary mt-3">Back to Movies</a>
        </div>
    </div>
</div>



